.product {
  width: 100%;
  .title {
    width: max-content;
    margin: 50px auto 30px;
    font-size: 4rem;
    font-weight: 700;
    color: #274c5b;
  }

  .product_list {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 20px;

    .product_item {
      width: 100%;
      background-color: #ececec77;
      border-radius: 20px;
      padding: 0 15px;
      cursor: pointer;

      img {
        width: 100%;
        filter: drop-shadow(-30px 40px 20px #00000062);
      }

      .product_name {
        color: #274c5b;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 20px 0;
        margin-top: -80px;
      }

      .product_price {
        height: 50px;
        width: 100%;
        display: grid;
        align-items: center;
        border-top: 1px solid #dedddd;
        font-size: 2rem;
        font-weight: 700;
        color: #274c5b;
      }
    }
  }
}

@media (max-width: 767px) {
  .product {
    .product_list {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 15px;
      padding: 0 20px;

      .product_item {
        img {
          filter: drop-shadow(-20px 20px 10px #00000062);
        }

        .product_name {
          padding: 10px 0;
          margin-top: -40px;
        }

        .product_price {
          height: 30px;
        }
      }
    }
  }
}
